<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Farhan Saad Ahmed</h2>
                <hr class="light">
                <p class="text-faded">Have a look at some of the personal projects I have done in the past. Any feedback is welcome! Feel free to reach out to me through contact details mentioned.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
